*{
    margin: 0;
    padding: 0;
}

.container{
    background-image:linear-gradient(90deg,rgba(0, 0, 0, 0.555) 40% ,rgba(255, 217, 0, 0.288)),url(../images/Groupe.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.container .flow{
    position: relative;
    width: 100%;
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
}
.container .flow .nave{
    position: absolute;
    right: 20%;
}
.container .flow .nave ul li a{
    text-decoration: none;
    margin: 8px;
    color: #fff;
}
.container .flow .nave ul li{
    display: inline-block;
    line-height: 100px;
}
.container .flow .logo{
    position: absolute;
    left: 0%;
    height: auto;
}
.container .tex{
    width: 35%;
    display: flex;
    margin-top: 0px;
    margin-left: 15px;
}
.container  .flow .parent .tex h1,p{
    color: rgba(255, 255, 255, 0.699);
}
.container .flow .pa{
    height: auto;
  
    
}
.container .flow .parent{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}
.tex #sym li{
    display: inline-block;
    margin: 5px;

}
.tex #sym li i{
    margin: 5px;
    color: rgba(255, 174, 0, 0.849);
}
@media screen and (max-width:750px) {
 
}
@media(max-width:442px){
    .container{
        
    }
}
.solutions{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.solutions .solution{
   width: 30%;
   height: 250px;
   margin-top: 10px;
   

}
.solutions .solution i{
    font-size: 35px;
    margin: 5px;
}
.cibles{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;

}
.cibles .cible p{
    color: rgba(0, 0, 0, 0.836);
}
.cibles .cible h1{
    margin: 10px;
}
.activites{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: space-around;
}
.activites .text, .activites .image,.activites .text2, .activites .image2{
    width: 45%;
    margin-top: 20px;
}

.activites .image{
 background-image: url(../images/pexels-photo-4427961@2x.png);
 background-position: center center;
 background-repeat: no-repeat;
 background-size: cover;
 height: 50vh;
}
.activites .text {
    

}
.activites .image2{
    background-image: url(../images/pexels-photo-4046303.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}
.expertise{
    background-image:linear-gradient(rgba(0, 0, 0, 0.692) 40% ,rgba(0, 0, 0, 0.69)),url(../images/heade.jpg);
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}
.expertise .expert{
    width: 23%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.expertise .expert p{
    color: #fff;
}
.expertise .expert h3{
    color: #FFB500;
}
.expertise .titree{
    width: 100%;
    margin-top: 10px;
}
.expertise .titree h1, .expertise .titree p{
    color: rgba(255, 255, 255, 0.678);
    text-align: center;
}
.degrade{
    width: 100%;
    height: 50vh;
    background:linear-gradient(90deg,#8F2577 40% ,#dbba25);
    position: relative;
}
.degrade .text-degrade{
    width: 50%;
    position: absolute;
    right: 0%;
    bottom: 50%;
}
.degrade .text-degrade h1{
    color: #fff;
}
.bleeu{
    width: 100%;
    height: 50vh;
    background:linear-gradient(90deg,#25658F 40% ,#25DBC9);
    position: relative;
}
.bleeu .disign{
    position: absolute;
    right: 30%;
    bottom: 70%;
}
.bleeu .disign{
   color: #fff;
}







